@model WEBTHAY_LEVANHAI_2122110022.Models.HomeModel

@{
    ViewBag.Title = "Product-Detail";
}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#addtocart").click(function () {
            var model = {
                "Id": @Html.Raw(Model.Product.Id),
                "Quantity": $("#ipQuantity").val()
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart")',
                data: JSON.stringify(model),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    alert("Thêm giỏ hàng thành công!");
                    $('#CartCount').text(function(i, oldText) {
                        return parseInt(oldText) + parseInt(model.Quantity);
                    });
                },
                error: function () {
                    alert("Lỗi trong khi thêm vào giỏ hàng!");
                }
            });
            return false;
        });
    });
</script>

<section class="py-3 bg-light">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Chi tiết sản phẩm</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Product.Name</li>
        </ol>
    </div>
</section>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">
        <!-- ============================ ITEM DETAIL ======================== -->
        <div class="row">
            <aside class="col-md-6">
                <div class="card">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <a href="#"><img src="~/Content/images/items/@Model.Product.Image" class="img-fluid"></a></div>
                        </div> <!-- slider-product.// -->
                        <div class="thumbs-wrap">
                            <a href="#" class="item-thumb"> <img src="~/Content/images/items/@Model.Product.Image"></a>
                            <a href="#" class="item-thumb"> <img src="~/Content/images/items/@Model.Product.Image"></a>
                            <a href="#" class="item-thumb"> <img src="~/Content/images/items/@Model.Product.Image"></a>
                            <a href="#" class="item-thumb"> <img src="~/Content/images/items/@Model.Product.Image"></a>
                        </div> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </div> <!-- card.// -->
            </aside>
            <main class="col-md-6">
                <article class="product-info-aside">
                    <h2 class="title mt-3">@Model.Product.Name </h2>
                    <div class="rating-wrap my-3">
                        <ul class="rating-stars">
                            <li style="width:80%" class="stars-active">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <small class="label-rating text-muted">132 reviews</small>
                        <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
                    </div> <!-- rating-wrap.// -->
                    <div class="mb-3">
                        @if (Model.Product.Sale_price == null)
                        {
                           <a class="price h4"> @Model.Product.Price VND</a>

                        }
                        else
                        {
                            <var class="price h4">@Model.Product.Sale_price VND</var>
                            <span class="text-muted">/ @Model.Product.Price VND</span>
                        }
                    </div> <!-- price-detail-wrap .// -->

                    <dl class="row">
                        <dt class="col-sm-3">Brand</dt>
                        <dd class="col-sm-9"><a href="#">@Model.Product.Brand.Name</a></dd>
                        <dt class="col-sm-3">Detail</dt>
                        <dd class="col-sm-9">@Model.Product.Detail</dd>
                        <dt class="col-sm-3">Danh mục</dt>
                        <dd class="col-sm-9">@Model.Product.Category.name</dd>
                        <dt class="col-sm-3">Delivery time</dt>
                        <dd class="col-sm-9">3-4 days</dd>
                        <dt class="col-sm-3">Availabilty</dt>
                        <dd class="col-sm-9">in Stock</dd>
                    </dl>
                    <div class="form-row  mt-4">
                        <div class="form-group col-md flex-grow-0">
                            <div class="input-group mb-3 input-spinner">
                                <input type="text" id="ipQuantity" class="form-control" value="1">
                            </div>
                        </div> <!-- col.// -->
                        <div class="form-group col-md">
                            <a href="#" id="addtocart" class="btn  btn-primary">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="text">Thêm vào giỏ hàng</span>
                            </a>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
        <!-- ================ ITEM DETAIL END .// ================= -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h5 class="title-description">Description</h5>
                @Model.Product.Description
            </div> <!-- col.// -->

            <aside class="col-md-4">
                <div class="box">

                    <h5 class="title-description">Cách bảo quản sản phẩm</h5>
                    <p>
                        Khi mua về đừng nên đem giặt ngay vì lúc này mực in chưa dính hẳn vào áo, sẽ rất dễ bị bong ra hoặc bị nhòe. Nên giặt với nước lạnh và không giặt bằng xà phòng.
                        Trong lúc giặt các bạn tránh đổ quá nhiều xà phòng vào chỗ in hình vì trong bột giặt có tính tẩy cao, nên đổ trực tiếp lên áo sẽ dễ làm hình in bị hư, nhòe.
                        Đặc biệt, đối với áo thun có màu thì nên được giặt riêng từng áo, vì khi giặt chung với đồ cũ thì sẽ dễ loang màu áo thun mới qua các áo cũ nếu bạn ngâm áo quá lâu.
                        Đối với áo thun màu trắng cũng nên được giặt riêng vì có thể các áo cũ của bạn sẽ ra màu, bám lên áo mới.

                        Không nên phơi áo thun in hình trực tiếp dưới ánh nắng mặt trời, điều này sẽ làm áo dễ bị bạc màu.
                        Để ở nơi khô ráo và thoáng khí, không để nơi ẩm mốc giúp tăng tuổi thọ của áo đấy nhé.
                    </p>
                    <hr>
                </div> <!-- box.// -->
            </aside> <!-- col.// -->
            <div class="container">
                <h3 class="title">Sản phẩm liên quan</h3>
                <div class="row">
                    @foreach (var relatedProduct in Model.RelatedProducts)
                    {
                        <div class="col-md-3 related-product">
                            <div class="card">
                                <a href="@Url.Action("Detail", "Home", new { id = relatedProduct.Id })">
                                    <img src="~/Content/images/items/@relatedProduct.Image" class="card-img-top" alt="@relatedProduct.Name">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">@relatedProduct.Name</h5>
                                    <p class="card-text">
                                        @if (relatedProduct.Sale_price == null)
                                        {
                                            <a>@relatedProduct.Price VND</a>
                                        }
                                        else
                                        {
                                            <span class="text-muted">@relatedProduct.Sale_price VND</span>
                                        }
                                    </p>
                                    <a href="@Url.Action("Detail", "Home", new { id = relatedProduct.Id })" class="btn btn-primary">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    }
                </div> <!-- row.// -->
            </div> <!-- container .// -->
        </div> <!-- row.// -->
    </div> <!-- container .// -->
</section>
<!-- ========================= SECTION END// ========================= -->
